---
# Front matter comment to ensure Jekyll properly reads file.
---

$primary: #00ADE6;
$secondary: #05E3D5;
$black: #041725;
$black-20: #213746;
$black-40: #5A666D;
$white: #EDEDED;
$white-40: #8D9BA3;

@mixin linearGradientH($property_name, $left, $right){
    #{$property_name}: $left; /* Old browsers */
    #{$property_name}: -moz-linear-gradient(left,  $left 0%, $right 100%); /* FF3.6+ */
    #{$property_name}: -webkit-linear-gradient(left,  $left 0%,$right 100%); /* Chrome10+,Safari5.1+ */
    #{$property_name}: -o-linear-gradient(left,  $left 0%,$right 100%); /* Opera 11.10+ */
    #{$property_name}: -ms-linear-gradient(left,  $left 0%,$right 100%); /* IE10+ */
    #{$property_name}: linear-gradient(to right,  $left 0%,$right 100%); /* W3C */
}

/* layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 14px;
  line-height: 1.8333;
  overflow-y: auto;
  min-height: 100vh;
}
header {
  height: 24px;
}
footer {
  font-size: 12px;
  color: $white-40;
  background-size: 32px;
  background-repeat: repeat;
  background-image:url(../img/footer-pattern.gif);
  height: 144px;

  img {
    margin-top: 64px;
    height: 25px;
  }
}
.breadcrumb {
  text-transform: uppercase;
  position: absolute;
  font-size: 12px;
  margin-top: 24px;

  a {
    text-decoration: none !important;
  }
}
main {
  margin: 40px 0;
}
.container {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  overflow: hidden;
}
.post {
  list-style-type: none;
}
.date,
.author {
  font-size: 12px;
  font-style: italic;

  a {
    margin-right: 4px;
    padding: 0 2px;
  }
}
.tag-cloud {
  margin-top: 24px;
  a {
    font-size: 12px;
    color: #fff !important;
    background: $primary;
    padding: 0 4px;
  }
}
.pagination {
  text-align: center;

  .page-item {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    width: 18px;
  }
}

.flexbox {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .flexbox__item {
    flex: 1 0 auto;
  }
  .flexbox__item--collapsed {
    flex: 0 1 auto;
  }
}

/* Markdown */

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 200ms;
}
a, a:visited {
  color: $primary;
}
a:hover {
  color: #fff !important;
  background: $primary;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  background: $white;
  display: inline-block;
  margin: 24px 0 0;
  width: 32px;
  height: 2px;
  @include linearGradientH(background, $primary, $secondary);
}

b, strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 24px;
  margin-bottom: 12px;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 0;

  a, a:visited {
    color: $white-40;
  }
  a:hover {
    background: none;
    color: $black !important;
  }
}

h2 {
  font-size: 20px;
  padding: 12px;
  font-weight: 300;
  text-align: center;
  border-bottom: solid 1px $white;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

h5 {
  font-size: 12px;
  font-weight: 600;
}

h6 {
  font-size: 11px;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

ul, ol {
  padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

li>p {
  margin-top: 16px;
}

li+li {
  margin-top: 0.25em;
}
