.deckgl-widget {
  margin: var(--widget-margin, 12px);
}

.deckgl-widget-button-border {
  width: var(--button-size, 28px);
  height: var(--button-size, 28px);
  box-sizing: border-box;
  flex-shrink: 0;

  background: var(--button-stroke, rgba(255, 255, 255, 0.3));
  border-radius: var(--button-corner-radius, 8px);
  box-shadow: var(--button-shadow, 0px 0px 8px 0px rgba(0, 0, 0, 0.25));

  display: flex;
  align-items: center;
  justify-content: center;
}

.deckgl-widget-button-border button {
  width: calc(var(--button-size, 28px) - 2px);
  height: calc(var(--button-size, 28px) - 2px);
  box-sizing: border-box;
  flex-shrink: 0;

  background: var(--button-background, #fff);
  backdrop-filter: var(--button-backdrop-filter, unset);
  border: var(--button-inner-stroke, unset);
  border-radius: calc(var(--button-corner-radius, 8px) - 1px);

  pointer-events: auto;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.deckgl-widget-button-icon {
  color: var(--button-icon-idle, rgba(97, 97, 102, 1));
}

.deckgl-widget-button-icon:hover {
  color: var(--button-icon-hover, rgba(24, 24, 26, 1));
}

.deckgl-pseudo-fullscreen {
  height: 100% !important;
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 99999;
}

.deckgl-widget-button-group {
  display: flex;
  flex-direction: column;
}

.deckgl-widget-button-group > *:not(:last-child),
.deckgl-widget-button-group > *:not(:last-child) > button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.deckgl-widget-button-group > *:not(:first-child),
.deckgl-widget-button-group > *:not(:first-child) > button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
