{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "transform-decorators-legacy",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Array"]
    }]
  ],
  "compact": "false"
}
