dist/
dist-es6/
test/
website/build/
node_modules/
workers/
dist.js
*.min.js
mapbox-gl.js
.cache
.docusaurus
examples/layer-browser/
test/apps/
bindings/
# TODO: Remove once eslint-plugin-import supports vite 5.x (vitest brings vite 5.x, master uses 4.x)
examples/vite.config.local.mjs