{
  "parser": "babel-eslint",
  "rules": {
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-continue": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "prefer-arrow-callback": 0,
    "prefer-const": 2,
    "prefer-reflect": 0,
    "prefer-spread": 2,
    "prefer-template": 0,
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "arrow-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "accessor-pairs": [
      2,
      {
        "getWithoutSet": true
      }
    ],
    "constructor-super": 2,
    "func-style": [
      2,
      "declaration"
    ],
    "generator-star-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],
    "guard-for-in": 0,
    "lines-around-comment": [
      0,
      {
        "beforeBlockComment": true,
        "afterBlockComment": false,
        "beforeLineComment": false,
        "afterLineComment": false,
        "allowBlockStart": true,
        "allowBlockEnd": true
      }
    ],
    "max-depth": [
      2,
      3
    ],
    "max-statements": [
      2,
      15
    ],
    "object-shorthand": 0,
    "quote-props": 0,
    "require-yield": 2,
    "sort-vars": 2,
    "wrap-regex": 2,
    "strict": 0,
    "indent": [
      2,
      2
    ],
    "react/no-unknown-property": 2,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 1,
    "react/wrap-multilines": 2
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "experimentalObjectRestSpread": true,
    "jsx": true
  }
}
