dist/
dist-es6/
dist-demo/
node_modules/
coverage/
.nyc_output/

dist-bundle.js
examples/winds/data/*.html
mapbox-token.js
TODO
_docs

*/**/yarn.lock
yarn-error.log
package-lock.json

.project
.idea
.DS_Store
*.zip
*.rar
*.log
.exit_code
.sass-cache
.bundle
Gemfile.lockbuild/
