build/
dist/
dist-es6/
dist-demo/
node_modules/
coverage/
.nyc_output/
.vscode/
.reify-cache/

dist-bundle.js
examples/winds/data/*.html
mapbox-token.js
TODO
_docs

mapbox-gl.js
mapbox-gl-dev.js

*/**/yarn.lock
yarn-error.log
package-lock.json

.project
.idea
.DS_Store
*.zip
*.rar
*.log
.exit_code
*.min.js
