{
  "all": "true",
  "sourceMap": false,
  "instrument": true,
  "include": [
    "modules/**/src/**/*.js",
    "modules/**/src/**/*.ts"
  ],
  "exclude": [
    "modules/test-utils/",
    "modules/**/types.ts"
  ]
}
