include LICENSE.txt
include *.md
include pyproject.toml

include pytest.ini
include .coveragerc

include package.json
include install.json
include ts*.json
include yarn.lock

include pydeck/io/templates/*.j2

# Examples
graft examples

# Tests
graft tests
prune tests/build

graft pydeck/nbextension
graft pydeck/labextension
prune setup

# Javascript files
graft src
graft style
prune **/node_modules
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
