
.gallery-wrapper {
  position: fixed;;
  padding-top: 64px;
  width: 100%;
  height: 100vh;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
}
.toc {
  width: 240px;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  box-shadow: 2px 0 4px rgba(0,0,0,0.15);
  z-index: 1;
  transition: all 300ms;

  >div {
    padding-top: 20px;
    padding-bottom: 80px;
  }
  ul {
    transition: max-height 0.3s;
    overflow: hidden;
  }
  li {
    list-style: none;
    line-height: 40px;
  }
  a {
    display: block;
  }
  .link {
    padding-left: 28px;
    color: $black-20;
    background: transparent;
    border-style: solid;
    border-width: 0 0 0 4px;
    border-color: transparent;
  }
  .link.active {
    color: $primary;
    font-weight: bold;
    border-color: $primary;
    @include linearGradientV(border-image, $primary, $secondary);
    border-image-slice: 2;
  }
  .link:hover {
    color: $white-40;
  }
  .list-header {
    font-weight: 700;
    font-size: 0.833em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 24px 0 8px 24px;
    color: $white-40;
  }
  .list-header:not(.active) + ul {
    max-height: 0 !important;
  }
}
.tabs {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 24px;
  z-index: 1;
  list-style: none;

  .tip {
    padding: 4px 8px;
  }

  li {
    display: inline;
    margin-left: -1px;
  }
  li.active button {
    color: #000;
  }
  li:not(.active) button:hover {
    background: #222;
    color: $white;
    border-color: #000;
  }
}
.tab {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.tab.active {
  display: block;
}
.markdown {
  padding: 40px 36px 96px;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.stat {
  text-transform: uppercase;
  font-size: 0.833em;

  b {
    display: block;
    font-size: 3em;
  }
}
.options-panel {
  width: 284px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  margin: 24px;
  padding: 12px 24px;

  hr {
    margin: 12px -24px;
  }
  .input {
    float: left;
    width: 60px;
    margin: 4px;
  }
  label {
    text-transform: uppercase;
    display: block;
    color: $black-40;
    margin-bottom: 4px;
  }
  input {
    display: block;
    padding: 0 4px;
    width: 100%;
    height: 20px;
    border: solid 1px #ccc;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 8px 0;
  }

  a {
    display: inline;
  }

  p {
    margin-bottom: 16px;
  }
  .legend {
    display: inline-block;
    width: 12px;
    height: 12px;
  }
}
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

@media (max-width: 576px) {
  .flexbox--row {
    display: block;
  }
  .toc {
    position: absolute;
    width: 100vw;
    height: 0;
    z-index: 9;

    >div {
      padding-top: 128px;
    }
  }
  .toc.open {
    height: 100%;
  }
  .options-panel {
    width: 100%;
    margin: 0;
  }
  .options-panel:not(.focus) {
    cursor: pointer;
    >div > *, hr, .input {
      display: none;
    }
    >div:before {
      position: absolute;
      top: 12px;
      right: 12px;
      color: $white-40;
      font-size: 24px;
      font-family: 'deckgl';
      content: "\e906";
    }
    h3 {
      display: block;
    }
  }
  .tabs .tip {
    display: none;
  }
  .markdown {
    padding: 40px 12px 96px;
  }
}
