body {
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#control-panel {
  position: fixed;
  z-index: 9;
  top: 25px;
  right: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 280px;
  background: white;
  padding: 20px;
}
.input-label {
  padding-right: 25px;
}
.input-group {
  line-height: 40px;
}
.radio {
  height: 20px;
  width: 20px;
  text-align: center;
}
.radio-label {
  top: -5px;
  position: relative;
  padding-right: 25px;
}
