{% include base_url.html %}
{% assign authors = post.author | replace:" ","" | split:","" %}

<li class="post">
  <h1><a href="{{ baseurl }}{{ post.url }}.html">{{ post.title }}</a></h1>
  <div>
    <span class="date"><b>{{ post.date | date_to_string }}</b></span>
    <span class="author">by 
      {% for author in authors %}
        <a href="http://github.com/{{ site.data.authors[author].github_username }}">
          <b>{{ site.data.authors[author].display_name }}</b>
        </a>
      {% endfor %}
    </span>
  </div>
  <p>{{ post.description }}</p>
</li>