body,
text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  font-size: 13px;
	-webkit-font-smoothing: antialiased;
  margin:0;
  padding:0;
  overflow:hidden;
}
text {
  font-size: 20px;
  font-weight: bold;
}

svg.interaction-overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
circle {
  stroke-width: 4;
  fill-opacity: 0.6;
}
line {
  stroke-width: 4;
}
line.hovered,
circle.hovered {
  fill: #ff991f;
  stroke: #ff991f;
}
line.clicked,
circle.clicked {
  fill: #f15c17;
  stroke: #f15c17;
}
line.related,
circle.related {
  stroke-width: 2;
  opacity: 0.6;
  fill: none;
}

h4 {
	margin-top: 24px;
	margin-bottom: 8px;
}

.control-panel {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 320px;
}

.status-panel {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 320px;
	z-index: 1;
}

.label {
	color: #999;
	font-size: 15px;
	font-weight: 800;
	margin: auto auto 8px auto;
}

.item {
	color: #666;
	font-size: 13px;
}

.button {
  color: #939393;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: auto 8px 8px auto;
  cursor: pointer;
  background-color: #e5e5e4;
  border-radius: 0px;
  text-transform: uppercase;
  line-height: 18px;
  outline: none;
  position: relative;
  transition: all 400ms ease;
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
  width: 240px;
  z-index: 1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-color: #e5e5e4;
  overflow: visible;
}

.button:hover {
  background-color: #d0d0cf;
  border-color: #d0d0cf;
}

.line {
	margin: auto auto 8px auto;
	border: 1px solid #CCC;
}
