black==24.3.0
carto-auth>=0.2.0
flake8>=6.0.0
ipython>=7.8.0
pytest-cov>=4.0.0
pytest-mock>=3.10.0
pytest>=8.0.0
requests-mock==1.9.3
sphinx_rtd_theme==2.0.0
tokenize-rt>=3.2.0
twine==4.0.0
typing-extensions>=4.0.0
wheel==0.37.1
