black
build
carto-auth>=0.2.0
flake8>=6.0.0
ipython>=7.8.0
pytest-cov>=4.0.0
pytest-mock>=3.10.0
pytest>=8.0.0
requests-mock
sphinx
sphinx_rtd_theme==2.0.0
tokenize-rt>=3.2.0
twine
typing-extensions>=4.0.0
wheel
