black==22.3.0
carto-auth>=0.2.0
flake8==4.0.1
ipython>=7.8.0
pytest-cov==3.0.0
pytest-mock==3.8.2
pytest==7.1.2
requests-mock==1.9.3
sphinx_rtd_theme==2.0.0
tokenize-rt>=3.2.0
twine==4.0.0
typing-extensions>=4.0.0
wheel==0.37.1
