body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fps > div {
  position: absolute !important;
  bottom: 24px !important;
  right: 10px !important;
  top: inherit !important;
  left: inherit !important;
}
