include LICENSE.txt
include README.md

include setupbase.py
include pytest.ini
include .coverage.rc

# Examples
graft examples

# Tests
graft tests
prune tests/build

# Javascript files
graft pydeck/nbextension
prune setup

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
