image>=1.5.27
jupyter>=1.0.0
mock>=3.0.5;python_version<"3.4"
pandas>=0.23.4
pytest>=4.0.2
pytest-cov>=2.6.1
pytest-asyncio>=0.10.0;python_version>="3.5"
pathlib>=1.0.1;python_version<="2.7"
typing>=3.7.4;python_version<="3.5"
typing_extensions>=3.7.4;python_version<="3.5"
flake8
requests
sphinx
recommonmark
jupyterlab
