
.button{
    position: absolute;
    left: 45%;
    top: 1%;
    font-size: 20px;
    background: #c2a9a9;
    border-radius: 10px;
    outline: none;
    opacity: 0.4;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding:  0.2% 0.7% 0.2% 0.9%;   
    text-shadow: 0 0 3px #932626, 0 0 5px #932626;
}




.timer{
    position: absolute;
    left: 1%;
    top: 1%;
    font-size: 30px;
    background: #c2a9a9;
    border-radius: 10px;
    outline: none;
    opacity: 0.4;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding:  0.2% 0.7% 0.2% 0.9%;   
    text-shadow: 0 0 3px #932626, 0 0 5px #932626;
}
.timer:hover {
  opacity: 1;
}


.timer2{
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 30px;
    background: #c2a9a9;
    border-radius: 10px;
    outline: none;
    opacity: 0.4;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding:  0.2% 0.7% 0.2% 0.9%;
    text-shadow: 0 0 3px #932626, 0 0 5px #932626;
}
.timer2:hover {
  opacity: 1;
}



.time-slider {
  position: absolute;
  align-items: center;
  -webkit-appearance: none;
  left: 1%;
  bottom: 2.5%;
  width: 47%;
  padding:  0.2% 0.7% 0.2% 0.9%;
  background: #d3d3d3;
  border-radius: 20px;
  outline: none;
  opacity: 0.3;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.time-slider:hover {
  opacity: 1;
}

.time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.time-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


.trailLength {
  position: absolute;
  align-items: center;
  -webkit-appearance: none;
  right: 1%;
  bottom: 2.5%;
  width: 47%;
   padding:  0.2% 0.7% 0.2% 0.9%;
  background: #d3d3d3;
  border-radius: 20px;
  outline: none;
  opacity: 0.3;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.trailLength:hover {
  opacity: 1;
}

.trailLength::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.trailLength::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
