
.graph{
    color : white;
    position: absolute;
    top: 2%;
    right: 2%;
    line-height: 1.8;
    font-variant: small-caps;
    font-size: 150%;
    background: black;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    text-shadow: 0 0 3px #932626, 0 0 5px #932626;
    }



.button{
    width: 49%;
    font-variant: small-caps;
    position: block;
    font-size: 70%;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding:  0.5% 0.5% 0.5% 0.5%;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);  
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);   

}
.button2{
  margin-left: 2%;
    width: 49%;
    font-variant: small-caps;
    position: block;
    font-size: 70%;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding:  0.5% 0.5% 0.5% 0.5%;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);  
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);   

}


.timer{
    color : white;
    position: absolute;
    left: 1%;
    top: 7%;
    font-size: 190%;
    background: black;
    border-radius: 10px;
    outline: none;
    opacity: 0.8;
    font-variant: small-caps;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding:  0.2% 0.7% 0.2% 0.9%;   
    text-shadow: 0 0 3px #932626, 0 0 5px #932626;
}
.timer:hover {
  opacity: 1;
}



.text2{
  text-decoration: underline;
  font-size: 140%;
  line-height: 2.2;
  padding:  1.5% 0% 1.5% 0%;
}


.timer2{

    width: 25%;
    color : white;
    position: absolute;
    top: 2%;
    left: 2%;
    line-height: 2.0;
    font-variant: small-caps;
    font-size: 120%;
    background: black;
    border-radius: 5px;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding:  0.2% 2% 0.5% 2%;
    text-shadow: 0 0 3px #932626, 0 0 5px #932626;

}
.timer2:hover {
  opacity: 0.7;
}





.time-slider {
  font-variant: small-caps;
  color: white;
  position: absolute;
  align-items: center;
  -webkit-appearance: none;
  left: 1%;
  bottom: 2.5%;
  width: 47%;
  padding:  0.2% 0.7% 0.2% 0.9%;
  background: black;
  border-radius: 20px;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.time-slider:hover {
  opacity: 1;
}

.time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.time-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


.trailLength {
  font-variant: small-caps;
  color: white;
  position: absolute;
  align-items: center;
  -webkit-appearance: none;
  right: 1%;
  bottom: 2.5%;
  width: 47%;
   padding:  0.2% 0.7% 0.2% 0.9%;
  background: black;
  border-radius: 20px;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.trailLength:hover {
  opacity: 1;
}

.trailLength::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.trailLength::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
