
.timer{
    position: absolute;
    background-color: red;
}

.time-slider {
    position: absolute;
    align-items: center;
  -webkit-appearance: none;
  left: 20%;
    bottom: 2rem;
  width: 50%;
  height: 25px;
  padding: 1rem 1.5rem .5rem 1.5rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.time-slider:hover {
  opacity: 1;
}

.time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.time-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}