const DEPENDENCIES = {% include 'requirejs_dependencies.json' %};
const jsonInput = {{json_input}};
const MAPBOX_API_KEY = '{{mapbox_key}}';
const tooltip = {{tooltip}};

define('@jupyter-widgets/base', function() {
  return {
    DOMWidgetModel: function() {},
    DOMWidgetView: function() {}
  };
});

requirejs.config(DEPENDENCIES);

requirejs(['@deck.gl/jupyter-widget'], (root) => {
  const deck = root.initDeck({
    mapboxApiKey: MAPBOX_API_KEY, 
    container: document.getElementById('deck-container'),
    jsonInput,
    tooltip
  });
})
