define(function() {
  'use strict';
  requirejs.config(
    {{ dependencies }}
  );
  // Export the required load_ipython_extension function
  return {
    load_ipython_extension: function() {}
  };
});
