<!DOCTYPE html>
<html>

{% include base_url.html %}
{% include head.html %}

<body>

  <!-- Header -->
  {% include header.html %}

  <div class="scroll-area">
    <div class="flexbox">

      <div class="flexbox__item">

        <!-- Main content -->
        <div class="container">

        <!-- Navigation -->
        {% include nav.html %}

      	<main>

      		{{ content }}

        </main>
      	
      	  <!-- Pagination links -->
          {% if paginator.total_pages > 1 %}
            <div class="pagination">
              {% if paginator.previous_page == 1 %}
                <a href="{{ baseurl }}/" class="page-item">&lt;</a>
              {% elsif paginator.previous_page%}
                <a href="{{ baseurl }}{{ paginator.previous_page_path}}" class="page-item">&lt;</a>
              {% else %}
                <span class="page-item">&lt;</span>
              {% endif %}
            
              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <span class="page-item">{{ page }}</span>
                {% elsif page == 1 %}
                  <a href="{{ baseurl }}/" class="page-item">{{ page }}</a>
                {% else %}
                  <a href="{{ baseurl }}{{ site.paginate_path | replace: ':num', page }}" class="page-item">{{ page }}</a>
                {% endif %}
              {% endfor %}
            
              {% if paginator.next_page %}
                <a href="{{ baseurl }}{{ paginator.next_page_path }}" class="page-item">&gt;</a>
              {% else %}
                <span class="page-item">&gt;</span>
              {% endif %}
            </div>
          {% endif %}

        </div>
      </div>

      <div class="flexbox__item--collapsed">
        <!-- Footer -->
        {% include footer.html %}
      </div>

    </div>
  </div>
</body>
</html>
