<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  
  <!-- Header -->
  {% include header.html %}

  <!-- Main content -->
  <div class="container">	

	<main>

		{{ content }}

  </main>
	
	  <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page == 1 %}
          <a href="{{ site.baseurl }}/" class="page-item">&lt;</a>
        {% elsif paginator.previous_page%}
          <a href="{{ site.baseurl }}{{ paginator.previous_page_path}}" class="page-item">&lt;</a>
        {% else %}
          <span class="page-item">&lt;</span>
        {% endif %}
      
        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <span class="page-item">{{ page }}</span>
          {% elsif page == 1 %}
            <a href="{{ site.baseurl }}/" class="page-item">{{ page }}</a>
          {% else %}
            <a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', page }}" class="page-item">{{ page }}</a>
          {% endif %}
        {% endfor %}
      
        {% if paginator.next_page %}
          <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="page-item">&gt;</a>
        {% else %}
          <span class="page-item">&gt;</span>
        {% endif %}
      </div>
    {% endif %}

  </div>
    
  <!-- Footer -->
  {% include footer.html %}

</body>
</html>
