---
layout: default
---

{% include base_url.html %}
{% assign authors = page.author | replace:" ","" | split:","" %}

<article id="post">

	<h1>{{ page.title }}</h1>

  <div>
    <span class="date"><b>{{ page.date | date_to_string }}</b></span>

    <span class="author">by 
      {% for author in authors %}
        <a href="http://github.com/{{ site.data.authors[author].github_username }}">
          <b>{{ site.data.authors[author].display_name }}</b>
        </a>
      {% endfor %}
    </span>

    <div class="share">
      <!-- Social media scripts -->
      {% include script.html %}
      <div class="fb-share-button" data-href="{{ site.data.home_url }}{{ site.baseurl }}{{ page.url }}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.data.home_url }}{{ site.baseurl }}{{ page.url }}&amp;src=sdkpreparse">Share</a>
      </div>
      <div>
        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text={{ site.data.home_url }}{{ site.baseurl }}{{ page.url }}">
        Tweet</a>
      </div>
    </div>
  </div>

	<div class="content">
		{{ content }}
	</div>

  <div class="tag-cloud">
    {% for tag in page.tags %}
      <a href="{{ baseurl }}/{{ site.tag_page_dir }}/{{ tag | downcase | replace:' ','-' }}">{{ tag }}</a>
    {% endfor %}
  </div>

  <div class="navigation clearfix">
    {% if page.previous.url %}
      <a class="float--left" href="{{ baseurl }}{{page.previous.url}}">&lt; Previous post: {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="float--right" href="{{ baseurl }}{{page.next.url}}">Next post: {{page.next.title}} &gt;</a>
    {% endif %}
  </div>

</article>

