name: release

on:
  push:
    tags:
      - v*

permissions:
  contents: read

jobs:
  release-notes:
    runs-on: ubuntu-latest

    if: github.repository_owner == 'visgl'

    env:
      ADMIN_TOKEN: ${{ secrets.ADMIN_TOKEN }}

    steps:
      - uses: actions/checkout@86f86b36ef15e6570752e7175f451a512eac206b # v2.1.1

      - name: Get git tags (https://github.com/actions/checkout/issues/206)
        run: git fetch --tags -f

      - name: Use Node.js
        uses: actions/setup-node@f1f314fca9dfce2769ece7d933488f076716723e # v1.4.6
        with:
          node-version: '18.x'

      - name: Publish release
        run: |
          body=$(node scripts/github-release.js) &&
          curl \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/visgl/deck.gl/releases \
            -d "${body}" \
            -H "Authorization: token ${ADMIN_TOKEN}"
