name: test

# On every pull request, but only on push to master
on:
  push:
    branches:
    - master
  pull_request:

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4.2.1
        with:
          cache: 'yarn'

      - name: Install dependencies
        run: yarn bootstrap

      - name: Build packages
        run: yarn build

      # Upload the built artifacts so other jobs can use them
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            dist
            node_modules

  test-node:
    needs: setup
    runs-on: ubuntu-22.04
    permissions:
      checks: write
      contents: read

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts

      - name: Run tests
        run: |
          yarn lint
          yarn test ci

      - name: Coveralls
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  
  test-website:
    needs: setup
    runs-on: ubuntu-22.04
    permissions:
      checks: write
      contents: read

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts

      - name: Test website build
        run: |
          yarn test-website

  test-python:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4.2.1
        with:
          cache: 'yarn'

      - name: Use Python ${{ matrix.python-version }}
        uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4.7.1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          cd bindings/pydeck
          make setup-env
          make init
          cd ../pydeck-carto
          make init

      - name: Run pydeck tests
        run: |
          cd bindings/pydeck
          make ci

      - name: Run pydeck-carto tests
        run: |
          cd bindings/pydeck-carto
          make ci
