name: website

on:
  push:
    branches:
      - '*-release'

jobs:
  check_branch:
    runs-on: ubuntu-latest
    outputs:
      should_deploy: ${{ endsWith(github.ref, steps.get_version.outputs.latest) }}

    steps:
      - name: Get version
        id: get_version
        run: |
          LATEST=$(npm show deck.gl@latest version | grep -o -E "^[0-9]+\.[0-9]+")
          echo "latest=${LATEST}-release" >> "$GITHUB_OUTPUT"

  deploy:
    runs-on: ubuntu-latest
    needs: check_branch
    
    permissions:
      contents: write

    if: ${{ github.repository_owner == 'visgl' && needs.check_branch.outputs.should_deploy }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          token: ${{ secrets.WEBSITE_DEPLOY_TOKEN }}

      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '18.x'

      - name: Install dependencies
        run: |
          yarn bootstrap
          (cd website && yarn)

      - name: Build website
        env:
          MapboxAccessToken: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
          GoogleMapsAPIKey: ${{ secrets.GOOGLE_MAPS_API_KEY }}
          GoogleMapsMapId: ${{ secrets.GOOGLE_MAPS_MAP_ID }}
        run: (cd website && yarn build)

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@6c2d9db40f9296374acc17b90404b6e8864128c8 # 4.7.3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: website/build
          CLEAN: true
