name: website

on:
  push:
    branches:
      - '*-release'

jobs:
  check_branch:
    runs-on: ubuntu-latest
    outputs:
      should_deploy: ${{ endsWith(github.ref, steps.get_version.outputs.latest) }}

    steps:
      - name: Get version
        id: get_version
        run: |
          LATEST=$(npm show deck.gl@latest version | grep -o -E "^[0-9]+\.[0-9]+")
          echo "latest=${LATEST}-release" >> "$GITHUB_OUTPUT"

  deploy:
    runs-on: ubuntu-latest
    needs: check_branch
    
    permissions:
      contents: write

    if: ${{ github.repository_owner == 'visgl' && needs.check_branch.outputs.should_deploy }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.WEBSITE_DEPLOY_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Enable Corepack
        run: corepack enable yarn

      - name: Install dependencies
        run: |
          yarn bootstrap
          (cd website && yarn)

      - name: Build website
        env:
          MapboxAccessToken: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
          GoogleMapsAPIKey: ${{ secrets.GOOGLE_MAPS_API_KEY }}
          GoogleMapsMapId: ${{ secrets.GOOGLE_MAPS_MAP_ID }}
        run: (cd website && yarn build)

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # 4.8.0
        with:
          token: ${{ secrets.WEBSITE_DEPLOY_TOKEN }}
          branch: gh-pages
          folder: website/build
          clean: true
